*{
   
    padding: 0;
}

.oyun{
    width: 800px;
    height: 300px;
    margin: auto;
    border: 3px solid black;
    margin-top: 50px;
}

#rabbit{
    width: 70px;
    height: 70px;
    background-image: url(rabbit.png);
    background-size: 70px 70px;
    position: relative;
    top: 230px;
}

.jump{
    animation: jump 0.30s linear;
}
 @keyframes jump{
    0%{
        top: 230px;
    }
    30%{
        top: 100px;
    }

    40%{
        top: 80px;
    }
    50%{
        top: 30px;
    }

    60%{
        top: 80px;
    }
    80%{
        top: 100px;
    }
    100%{
        top: 230px;
    }
 }
 #kaktus{
    width: 40px;
    height: 80px;
    position: relative;
    top: 135px;
    left: 600px;


    background-image: url(kaktus.png);
    background-size: 40px 80px;

    animation: engel 1s infinite linear;
 }
 @keyframes engel{
    0%{
        left: 600px;
    }
    100%{
        left: -40px;
    }
 }